<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.min.mapper.TimeMapper">

	<select id ="getCound" resultType="int">
	 select count(*) from tbl_brand where bno >0
	</select>
     
</mapper>